{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'autenticacao/css/cadastro.css' %}">
{% endblock %}

{% block 'body' %}
<div class="box">
  <form action="{% url 'password_reset' %}" method="POST">
    {% csrf_token %}

    {% if messages %}
    {% for message in messages %}
    <div class="alert {{message.tags}}">
      {{message}}
    </div>
    {% endfor %}
    {% endif %}

    <h1 class="titulo font-degrade borda-bottom-degrade">Recuperar Senha</h1>
    <br>
    {% comment %} {{form}} {% endcomment %}

    <span class="span-descricao">Email:</span>
    <input type="email" class="form-control input-cadastro" name="email">
    <br>

    <input type="submit" value="Recuperar" class="btn btn-success btn-lg">
    {% if form.errors %}
    {{form.errors}}
    {% endif %}

  </form>
</div>
{% endblock %}